@import "@/styles/variables.scss";

.doubleVariant {
  height: 100%;
  border-radius: 6px;
  background: $color_white;
  box-shadow: $shadow_1;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  .selected {
    background-color: $color_14;
    .title_wrapper {
      .title {
        color: $color_9 !important;
      }
    }
  }
  .lhs_wrapper {
    border-radius: 6px 0 0 6px;
    width: 50%;
    height: 100%;
    &:hover {
      .title_wrapper {
        .title {
          text-decoration: underline;
        }
      }
      .value_wrapper {
        .value {
          text-decoration: underline;
        }
      }
    }
    .title_wrapper {
      height: calc(100% - 2.5rem);
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: $color_6;
      }
    }
    .value_wrapper {
      cursor: pointer;
      background-color: $color_6;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 0 6px;
      .value {
        color: $color_white;
      }
    }
  }
  .rhs_wrapper {
    border-radius: 0 6px 6px 0;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      .title_wrapper {
        .title {
          text-decoration: underline;
        }
      }
      .value_wrapper {
        .value {
          text-decoration: underline;
        }
      }
    }
    .title_wrapper {
      height: calc(100% - 2.5rem);
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: $color_5;
      }
    }
    .value_wrapper {
      background-color: $color_5;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 6px 0;
      cursor: pointer;
      .value {
        color: $color_white;
      }
    }
  }
}
