@import "@/styles/variables.scss";

.searchValueContainer {
  border-radius: 6px;
  width: 50%;
  background-color: $color_white;
  position: absolute;
  top: -57px;
  left: 0;
  transition: top 0.3s ease-out;
  display: flex;
  align-items: center;
  box-shadow: $shadow_1;
  transform: translateX(50%);
  &::after {
    content: "";
    width: 96%;
    height: 1px;
    position: absolute;
    bottom: 8px;
    left: 1%;
    background-color: $color_1;
    z-index: 100;
  }
  .searchInput {
    background-color: $color_white;
    width: 100%;
    border-radius: 6px;
    input {
      padding: 10px;
    }
  }
  &.isActive {
    top: 2px;
    z-index: 3;
  }
}
