@import "@/styles/variables.scss";

.newNavWrapper {
  min-height: 100vh;
  position: relative;
  z-index: 3;
  &::before {
    content: "";
    width: 100%;
    height: 12rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color_1;
    z-index: -1;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color_2;
    z-index: -2;
  }
  .navContainer {
    padding: 0.3rem 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      padding: 0.5rem 0 0 0;
      transform: translateX(-8px);
    }
    .lhs_Wrapper {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: row-reverse;
      }
      .logoText {
        margin: 10px 16px 0 16px;
        cursor: pointer;
        @media (max-width: 768px) {
          display: none !important;
        }
        .first {
          color: $khaki;
          font-size: 1.2rem;
          font-weight: 900;
          line-height: 4px;
          font-style: italic;
        }
        .second {
          font-weight: 500;
          text-align: end;
          color: $color_2;
        }
      }
      .hamBurger {
        margin: 0 1rem;
        transform: scale(0.6);
        @media (max-width: 768px) {
          transform: translateX(1rem) scale(0.6);
        }
      }
      .searchIcon {
        margin: 0 1rem;
        color: $color_white;
        cursor: pointer;
        position: relative;
        svg {
          font-size: 1.5rem;
          position: absolute;
          top: -10px;
          left: 0;
        }
      }
    }
    .m_logoText {
      margin: 10px 16px 0 0;
      cursor: pointer;
      @media (min-width: 768px) {
        display: none !important;
      }
      .first {
        font-size: 1.2rem;
        font-weight: 900;
        line-height: 4px;
        font-style: italic;
        color: $khaki;
      }
      .second {
        font-weight: 500;
        text-align: end;
        color: $color_2;
      }
    }
    .moreIcon {
      padding: 0.2rem 0 0 0;
      color: $color_white;
    }
    .searchIcon {
      color: $color_white;
    }
  }
  .navListWrapper {
    height: 100%;
    display: flex;
    .mainWrapper {
      min-height: calc(100vh - 45px);
      width: 100%;
      padding: 0 1rem;
      .breadcrumbWrapper {
        margin-bottom: 4px;
        position: relative;
      }
    }
  }
}
