.customTableWrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  .tableRow {
    &:hover {
      background-color: lightcyan;
      cursor: pointer;
    }
  }
  .open {
    background-color: lightblue !important;
  }
}
