.customTableWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  .tableRow {
    &:hover {
      background-color: lightcyan;
      cursor: pointer;
    }
  }
  .open {
    background-color: lightblue !important;
  }
  .notFound {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
