.customTableWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  .tableRow {
    &:hover {
      background-color: lightcyan;
      cursor: pointer;
    }
  }
  .open {
    background-color: lightblue !important;
  }
  .notFound {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submitBtnWrapper {
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    .button {
    }
  }
}
