.navWrapper {
  height: 60px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 4px 0 rgb(0 0 0);

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;

    .lhsWrapper {
      display: flex;
      align-items: center;

      .logo {
        padding: 0;

        button {
          display: flex;
          gap: 5px;
        }
      }

      .menu-icon {
        display: none;
      }

      @media (max-width: 600px) {
        .menu-icon {
          display: block;
          cursor: pointer;

          svg {
            height: 5em;
          }
        }
      }
    }

    .rhsWrapper {
      display: none;

      @media (max-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }

    .nav-elements {}

    .nav-elements ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
    }

    .nav-elements ul li:not(:last-child) {
      margin-right: 60px;
    }

    .nav-elements ul a {
      margin-left: 1rem;
      font-size: 16px;
      font-weight: 400;
      color: #2f234f;
      text-decoration: none;
    }

    .nav-elements ul a.active {
      color: #574c4c;
      font-weight: 500;
      position: relative;
    }

    .nav-elements ul a.active::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #574c4c;
    }

    @media (max-width: 768px) {
      .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
      }
    }

    @media (max-width: 600px) {
      .nav-elements {
        position: absolute;
        left: 0;
        top: 60px;
        background-color: #fff;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
        z-index: 100;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }

      .nav-elements.active {
        width: 230px;
      }

      .nav-elements ul {
        display: flex;
        flex-direction: column;
      }

      .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
      }
    }
  }
}