.updateChannel_wrapper {
  margin-top: 2rem;
  max-width: 60rem;
  // background-color: red;
  .submitBtnWrapper {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      width: 10rem;
    }
  }
}
