@mixin mui_btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 118, 210);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

#html5qr-code-full-region {
  #qr-shaded-region {
    border-width: 130px 30px !important;
  }

  #html5qr-code-full-region__scan_region {
    @media screen and (min-width: 768px) {
      transform: scaleX(-1);
    }
  }

  #html5qr-code-full-region__header_message {
    display: none !important;
  }

  #html5qr-code-full-region__dashboard_section_csr {
    span:nth-child(2) {
      width: 1px !important;
      height: 1px !important;
      visibility: hidden;
    }
  }
  #html5-qrcode-select-camera {
    display: none !important;
  }

  #html5-qrcode-button-camera-start {
    @include mui_btn;
    margin-top: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.7rem;
    animation: animate-this 1s ease;
    @media screen and (max-width: 768px) {
      transform: translateX(-60%);
    }
  }

  @keyframes animate-this {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(0);
    }
    75% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  #html5-qrcode-input-range-zoom {
    transform: translateX(25%);
  }

  #html5-qrcode-button-camera-stop {
    @include mui_btn;
    margin-top: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.7rem;
    @media screen and (max-width: 768px) {
      transform: translateX(-60%);
    }
  }

  #html5-qrcode-button-camera-permission {
    @include mui_btn;
    margin-bottom: 0.5rem;
  }
  #html5-qrcode-anchor-scan-type-change,
  #html5-qrcode-anchor-scan-type-change {
    display: none !important;
  }
}
