$color_1: #4680ff;
$color_2: #eceff4;
$color_3: #c77b5d;
$color_4: #d17189;
$color_5: #9ccc65;
$color_6: #ffba57;
$color_7: #ff5252;
$color_8: #373a3c;
$color_9: #2f234f;
$color_10: #574c4c;
$color_11: #535763;
$color_12: #6a64f1;
$color_13: #07074d;
$color_14: #ddc0c2;

$lightsalmon: lightsalmon;
$lightslategray: lightslategray;
$cadetblue: cadetblue;
$lightcyan: lightcyan;
$lightblue: lightblue;
$dimgray: dimgray;
$gray: gray;
$khaki: khaki;
$slategray: slategray;

$color_white: #fff;
$color_black: #000;

$shadow_1: 0 2px 10px -1px rgba(69, 90, 100, 0.3);

$transition_1: 0.2s ease-in-out;
