@import "@/styles/variables.scss";

.formbold-file-input input {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.formbold-file-input label {
  position: relative;
  border: 1px dashed $color_2;
  border-radius: 6px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  text-align: center;
  cursor: pointer;
  box-shadow: $shadow_1;
}
