.customTableWrapper {
  min-height: 83vh;
  position: relative;
  .btnWrapper {
    position: relative;
    @media (max-width: 668px) {
      height: 8rem;
    }
  }
  .tableWrapper {
    // padding-top: 3rem;
  }

  .tableRow {
    &:hover {
      background-color: lightcyan;
      cursor: pointer;
    }
  }
  .open {
    background-color: lightblue !important;
  }
  .submitBtnWrapper {
    position: absolute;
    bottom: 0;
    right: 1rem;
    .button {
    }
  }
}
