@import "@/styles/variables.scss";

.customTableWrapper {
  padding-bottom: 1rem;
  min-height: 83vh;
  position: relative;
  box-shadow: $shadow_1;
  background-color: $color_white;
  border-radius: 6px;
  .btnWrapper {
    padding: 1rem 0;
    position: relative;
    @media (max-width: 668px) {
      // height: 8rem;
    }
  }
  .tableWrapper {
    // padding-top: 3rem;
  }

  .tableRow {
    &:hover {
      background-color: $lightcyan;
      cursor: pointer;
    }
  }
  .open {
    background-color: $lightblue !important;
  }
  .submitBtnWrapper {
    min-width: 400px;
    position: absolute;
    bottom: 0rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: $color_white;
    // flex-direction: column-reverse;
    @media (max-width: 600px) {
      right: unset;
      bottom: -4rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .button {
      white-space: nowrap;
      width: 12rem;
      @media (max-width: 600px) {
        width: max-content;
        margin-bottom: 1rem;
      }
    }
  }
}
