.homeWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .headingWrapper {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }
  .qrCodeScanWrapper {
    margin: 1rem;
    padding: 1rem;
    min-height: 250px;
    max-width: 100%;
  }
}
