.summaryScreenWrapper {
  width: 100%;
  .title {
    text-align: center;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    button {
      width: 8rem;
      height: 2rem;
    }
  }
}
