@import "@/styles/variables.scss";

.updateProfile_wrapper {
  background-color: $color_white;
  box-shadow: $shadow_1;
  min-height: 80vh;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  .updateProfile_pass_inner {
    margin-top: 3rem;
    max-width: 400px;
    max-height: 180px;
  }
}
