@import "@/styles/variables.scss";

.rhs_Wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  .notificatin_container {
    color: $color_white;
    cursor: pointer;
  }
  .profile_container {
    color: $color_white;
    cursor: pointer;
  }
}
