@import "@/styles/variables.scss";

.createChannel_wrapper {
  height: 95%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .createChannel_inner {
    padding: 4rem 0;
    background: $color_white;
    border-radius: 6px;
    width: 50%;
    position: relative;
  }
}
