.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
  .input {
    fieldset {
      border: none;
      border-color: rgba(0, 0, 0, 0.3) !important;
    }
  }
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 100%;
    cursor: pointer;
  }
}
