.subtotalWrapper {
  margin: 0.5rem 0;
  padding: 0 1rem;
  width: 100%;

  .titleWrapper {
    padding: 0.5rem 0;
    position: relative;
    p {
      font-size: 1rem;
      text-align: start;
      letter-spacing: 2px;
      line-height: 26px;
      color: #ed7444;
      font-weight: bold;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6%;
      width: 112%;
      border-top: 1.5px solid #dbdbdb;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -6%;
      width: 112%;
      border-top: 1.5px solid #dbdbdb;
    }
  }
  .commonFields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1.5px solid #dbdbdb;
    }
    .key {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #737373;
    }
    .value {
      font-size: 14px;
      line-height: 38px;
      color: #000;
      letter-spacing: 0.5px;
      font-weight: 600;
    }
  }
  .totalWrapper {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .key {
      font-size: 1rem;
      text-align: start;
      line-height: 26px;
      color: #ed7444;
      font-weight: bold;
    }
    .value {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 38px;
      color: #ed7444;
    }
  }
}
