.treeBoxWrapper {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  .textWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: black;
    }
  }
}
