@import "@/styles/variables.scss";

.dark {
  background-color: $color_black !important;
  color: $color_white !important;
  font-weight: 500;
}

.disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: transparent !important;
}
